.background{
    background-image:url('https://media.30seconds.com/tip/lg/How-to-Save-Money-5-Ways-to-Plan-Save-for-Your-Familys-Fut-23801-ddcf99be1e-1621460554.jpg') !important;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
}
.tools{
    background-color:aliceblue;
    height: 100px;  
}
.items{
    display:flex;
    flex-direction: row;
    color: blue;
}
.sop{
    padding-top: 500px;
}
.word{
    font-size: 30px;
} 
.Box{
    color: aliceblue;
    text-align:center
}
#bus{
    position: absolute;
    top:60%;
    left:50%;
    height: 300px;
    transform:translate(-50%,-50%);
    width:300px;
    background-color:white;
    border-radius: 20px;
 
 }